.final-score {
  font-size: 5rem;
  padding: 20px;
  margin: 20px 0;
  text-shadow: 2px 2px black;
}
.reward {
  font-size: 2.5rem;
  text-shadow: 2px 2px black;
  margin-bottom: 20px;
}

.result {
  position: absolute;
  top: 0vh;
  left: 0vw;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  max-height: 100vh;
  overflow: hidden;
  background: transparent;
}

.star-rain {
  position: absolute;
  height: 50px;
  top: -100px;
  background: linear-gradient(transparent, #fff);
  animation: animate 5s infinite ease;
  perspective: 800px;
  /* border-radius: 100% 0% 51% 49% / 55% 26% 74% 45% ; */
  transform: rotate(-40deg);
  box-shadow: inset 0 0 1px black, inset 0 0 2px white;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}
@keyframes animate {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(calc(110vh + 200px));
  }
}
.star-rain::after {
  content: "";
  position: absolute;
  height: 50%;
  width: 50%;
  top: 20%;
  left: 20%;
  border-radius: 50%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.671);
  transform: rotate(80deg);
  filter: drop-shadow(5px 5px rgb(255, 255, 255));
}
svg {
  height: 0;
  margin: 0;
}
